<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="header.css">
    <!--Get your code at fontawesome.com-->
</head>
<header>
    <title>StarStore</title>

    <div class="header-top-bar">

        <span class='fa fa-envelope vertical-line header-top-content-adjustment'> support@StarStore.com </span>
        <span> <a class='fa fa-phone'></a> +92 344 1231987 </span>

        <span id='icons' class='vertical-line' align='right'>
            <a class="fa fa-facebook"></a>
            <a class="fa fa-twitter"></a>
            <a class="fa fa-linkedin"></a>
            <a class="fa fa-pinterest"></a>
            </span>

        <span class='vertical-line header-top-content-adjustment'> Languages </span>
        <span> <a class='fa fa-sign-in'> </a> Login  </span>

    </div>


    <div id='titleBar' class="flex-container">

        <span id='storeName'> StarStore </span>
        <select name="cars" id="cars">
            <option value="volvo">All Catrgories</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>

        <input type="search" class="fa fa-search"></input>
        <button type="search" class="fa fa-search"></button>
    </div>

</header>