#titleBar {
    font-family: "Noto Sans CJK TC Bold";
    font-size: 30px;
    margin-top: 30px;
    text-align-last: center;
    padding-left: 120px;
    text-shadow: 0px 1px 2px rgb(216, 207, 207);
    display: inline-flex;
    /* justify-content: center; */
    height: 39px;
}

.header-top-bar {
    border-bottom: 1px solid silver;
    margin-top: -9px;
    height: 45px;
}


.vertical-line {
    padding-top: 16px;
    padding-bottom: 12px;
    margin-left: 8%;
    border-right: 1px solid silver;

}

.header-top-content-adjustment
{
    margin-right: 23px;
    padding-right: 4%;
    margin-left: 62px;
}


#icons
{
    margin-left: 326px;
    padding-right: 22px;
}


#icons a
{
    margin-left: 26px;
    /* padding-right: 22px; */
}

#new
{
    text-align: center;
}


/* input[type='search']
{
    height: 43px;
    width: 501px;
    background-color: #f1f1f1;
} */

.box{
    width: 100%;
    text-align:center;

}

#cars{
    width: 200px;
}

#storeName {

    margin-right: 200px;

}