#test {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans CJK TC Bold";
    font-size: 35px;
    text-shadow: 0px 1px 2px grey;
}

.contact {
    font-size: 24px;
    border-bottom: 1px solid;
    border-color: darkgray;
    margin-top: -10px;
}

#email {
    font-family: -webkit-pictograph;
    margin-left: 136px;
    width: 255px;
    border-right: 1px solid darkgray;
    font-size: 19px;
    height: 34px;
    /* margin-top: 0px; */
    padding-top: 11px;
}


/*.contact email*/
/*{*/
/*    argin: 0px 112px;*/
/*    font-size: 22px;*/
/*    font-style: oblique;*/
/*    border-width: thick;*/
/*    font-family: ui-rounded;*/
/*    border-bottom: brown;*/
/*    border-bottom-style: ridge;*/

/*}*/