{% block stylesheets %}
{{ encore_entry_link_tags('page_header')  }}
{% endblock %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--Get your code at fontawesome.com-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" > </script>

        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

        <link rel="stylesheet" href="assets/css/intlTelInput.css">
        <script src="assets/js/intlTelInput.min.js"> </script>
{#        <script src="{{ asset('assets/js/intlTelInput.min.js') }}"></script>#}
{#        <script src="{{ asset('assets/js/intlTelInput.min.js') }}"></script>#}
{#        <script src="{{ asset('assets/js/utils.js') }}"></script>#}
    </head>

<header>
<title>StarStore</title>
    <body>
        <div class="contact">
            <div id="email">
                <i class="fa fa-envelope"></i>
                <a href="www.google.com">support@starstore.com </a>
            </div>
        </div>
        <h1 id="test">StarStore</h1>
        <input type="text" id="try" value="Lets Try">
        <p id="show"></p>
    </body>
</header>

<script>
//    $('#try').intlTelInput("getNumber");

    $('#try').intlTelInput({
        initialCountry: "auto",
        allowDropdown: true,
    });

</script>